[user]
    email = {{ .email | quote }}
    name = {{ .name | quote }}
[core]
    editor = zed --wait --new
    excludesfile = ~/.gitignore
[merge]
    conflictstyle = diff3

[include]
    path = ~/.gitconfig_local
[pull]
    rebase = true
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
