[user]
    email = {{ .email | quote }}
    name = {{ .name | quote }}
[core]
    editor = subl -n -w
    excludesfile = ~/.gitignore
[merge]
    conflictstyle = diff3

[include]
    path = ~/.gitconfig_local
