prefix_rule(
    pattern = ["tuist"],
    decision = "allow",
    match = [["tuist", "build"], ["tuist", "generate"], ["tuist", "install"], ["tuist", "test"], ["tuist", "xcodebuild", "build", "-workspace", "MyApp.xcworkspace"]],
    not_match = [["git", "oops"]],
)
